*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}



.header  {
    font-family: monospace;
    background: #fa5252;
    display:flex;
    justify-content:space-between;
    align-item:center;
    margin:10px;
    padding:20px;
    
   
  }
  .left-links ul{
    display:flex;
    justify-content:center;
    align-item:center;
    margin:1em;
    gap:1rem;
  }
  .right-links ul{
    display:flex;
    justify-content:center;
    align-item:center;
    margin:1em;
    gap:1rem;
   
  }

  .logo {
    font-size: 48px;
    font-weight: 900;
    background-color: #82c91e;
    color: black;
    padding:1px 30px 1px 30px;
    
  }
  
  ul {
    /* this removes the dots on the list items*/
    list-style-type: none;
    
  }
  
  a {
    font-size: 22px;
    background-color:#8000ff;
    color:black;
    padding: 8px;
    /* this removes the line under the links */
    text-decoration: none;
    padding:5px 30px 5px 30px;
  }
  li{
    display:flex;
    justify-content:center;
    align-item:center;
    
  }