footer {
    width: 100%;  
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    background-color: var(--fondoDos);
    font-size:var(--fontSize-XS);
    font-family:var(--fuente); 
    @media(max-width: 600px) {
      flex-direction: column;
    
      }
    & h3 {
      color: var(--colorDos);
        
    }  
   
    }

    