
header {
    height: 20vh;
    width:100vw;
    display: flex;
    justify-content: center;
    background-color: #00ffd5ff;
    padding: 1rem;
    font-family: Geneva, Verdana, arial;
    font-size: 2rem;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    position:fixed;
}