#containergame{
  width:100%;
  height: 75vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

#game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 300px;
    height: 300px;
    /* margin: 70px auto 20px auto ; */
    border: 2px solid black;
    box-shadow: 0px 8px 30px -3px rgba(0, 0, 0, 0.61);

    @media(max-width: 350px) {
      width: 180px;
      height: 180px;
    }

    @media(min-width: 1000px) and (min-height: 800px) {
      width: 600px;
      height: 600px;
    }


   & .cell {
      box-sizing: border-box;
      width: 100px;
      height: 100px;
      border: 2px solid black;
      font-size: 4em;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
  
      @media(max-width: 350px) {
        width: 60px;
        height: 60px;
      }
  
      @media(min-width: 1000px) and (min-height: 800px) {
        width: 200px;
        height: 200px;
      }

    & .cell:hover {
        background-color: #ddd;
      }
    }

     & h1 .texto{
      
      justify-content: center;
      align-items: center;
    } 

    & .texto {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      margin: 30px 15px ;
      padding: 20px ;
      font-size: var(--fontSize-S);
      font-family:var(--fuente); 
      
    }    

    & #TresEnRayaReset {
        display: flex;  
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 150px;
        background: var(--colorDos);
        margin: auto;
        font-size:var(--fontSize-XS);
        font-family:var(--fuente);
        padding: 10px 10px;
        cursor: pointer;
    }
  }
   
  
  
  
 